
body {
    background-color: #f8f9fa;
}
  
#titulo{
    font-weight: bold;
    padding: 50px;

}



footer {
    margin-top: 200px;
    font-weight: bold;

}

.form-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
  

label {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}
  

input.form-control {
    border-radius: 5px;
    border: 5px solid #ced4da;
}
  
button.btn {
    font-size: rem;
    padding: 10px;
}
  
#resultado{
    font-weight: bold;
    font-size: 1.1rem;
}